
.bottom-bar {
  display: flex;
  /* position: fixed; */
  padding: 0 0 var(--bar-padding);
  background-color: #dddddd;
  color: #333333;
  /* left: 0;
  right: 0;
  bottom: 0; */
  z-index: 1;
}

.bottom-nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
}